---
layout: default
title: "Tootback"
description: "All your toots from Mastodon"
---

<main class="container">
    <link href="./toot/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="./toot/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
</main>
