---
# see ./toots.11tydata.js
---

  <div class="items-list items-list--toots">
  {%- for item in pagination.items %}

    {% include 'toot.njk' %}

  {% endfor -%}
  </div>

  <nav>
    <ol class="inline-list small pagination">
      <li>
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}">Previous</a>
        {% else %}Previous{% endif %}
      </li>
      {%- for pageEntry in pagination.pages %}
        <li>
          <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>{{ loop.index }}</a>
        </li>
      {%- endfor %}
      <li>
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}">Next</a>
        {% else %}Next{% endif %}
      </li>
    </ol>
  </nav>