:root {
  /* COLOR TOKEN */
  --color-background: #FBFBFB;
  --color-background-elevated: #EDEDED;
  --color-button-background-primary: #202020;
  --color-button-text-primary: #FBFBFB;
  --color-button-background-secondary: #DEDEDE;
  --color-button-text-secondary: #202020;
  --color-divider: #DEDEDE;
  --color-text-primary: #202020;
  --color-text-secondary: #707070;
  --color-text-third: #BABABA;
  --color-focux: #202020;

  /* SPACE TOKEN */
  --space-x-none: 0;
  --space-xx-small: 2px;
  --space-x-small: 4px;
  --space-small: 8px;
  --space-regular: 16px;
  --space-medium: 24px;
  --space-large: 32px;
  --space-x-large: 48px;
  --space-xx-large: 64px;
  --space-xxx-large: 96px;
}

html {
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

*,:after,:before {
  -webkit-box-sizing:inherit;
  box-sizing:inherit
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  background: var(--color-background);
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

/* NAVIGATION */
.navigation {
  width: 100%;
  height: auto;
  padding: var(--space-regular) var(--space-regular) var(--space-regular) var(--space-regular);
}

.navigation-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--space-regular);

  .button-primary {
    position: absolute;
    top: var(--space-regular);
    right: var(--space-large);
  }
}


#logo {
  font-size: 1.5rem;
  color: var(--color-text-primary);

  a {
    color: var(--color-text-primary);
    text-decoration: none;
  }
}

/* SEARCH */
#search {
  width: 100%;
  max-width: 632px;
  margin: auto;
  height: auto;
}

#search form > input {
  height: 48px;
  color: var(--color-text-primary);
  font-weight: normal;
  border-radius: var(--space-x-large);
  border: 1px solid var(--color-divider);
  background: var(--color-background-elevated);
}

#search form > input:focus {
  outline: 0;
  border-radius: var(--space-x-large);
  border: 2px solid var(--color-focux);
  background: var(--color-background-elevated);
}

#search form > input::placeholder {
  color: var(--color-text-secondary);
  opacity: 1;
}

#search form > input {
  height: 48px;
  color: var(--color-text-primary);
  font-weight: normal;
  border-radius: var(--space-x-large);
  border: 1px solid var(--color-divider);
  background: var(--color-background-elevated);
}

#search form > button {
  top: 1px;
  color: var(--color-text-primary);
  background: none;
}

.pagefind-ui__result-title {
  font-weight: normal !important;

  p {

  }
}

a.pagefind-ui__result-link {
  font-size: 1.1rem !important;
  color: var(--color-text-primary);
}

.pagefind-ui__result-excerpt {
  color: var(--color-text-secondary) !important;
}

.pagefind-ui__button {
  width: auto !important;
  height: 48px !important;
  margin: var(--space-medium) auto var(--space-medium) auto !important;
  padding: var(--space-small) var(--space-large) !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  align-content: stretch !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  border-radius: var(--space-xxx-large) !important;
  color: var(--color-button-text-secondary) !important;
  text-decoration: none !important;
  background: var(--color-button-background-secondary) !important;
  border: none !important;
}

/* BODY */
.container {
  width: 100%;
  max-width: 632px;
  margin: auto;
  padding: 0 16px 0 16px;
}

a.button-primary {
  display: inline-flex;
  height: 48px;
  padding: var(--space-small) var(--space-large);
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: var(--space-xxx-large);
  color: var(--color-button-text-primary);
  text-decoration: none;
  background: var(--color-button-background-primary);
}

.item {
  padding: var(--space-small) var(--space-x-none) var(--space-small) var(--space-x-none);
  color: var(--color-text-primary);
  border-bottom: 1px solid var(--color-divider);

  a {
    color: var(--color-text-primary);
  }
}

.item-header {
  height: 20px;
  margin: var(--space-regular) var(--space-x-none) var(--space-small) var(--space-x-none);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: normal;
  gap: var(--space-x-small);
  font-size: 0.9rem;
  color: var(--color-text-secondary);
}

.item-footer {
  height: 20px;
  margin: var(--space-regular) var(--space-x-none) var(--space-medium) var(--space-x-none);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--color-text-secondary);

  a {
    color: var(--color-text-secondary);
  }
}

.item-footer-external-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: normal;
  gap: var(--space-x-small);
  font-size: 0.9rem;
  color: var(--color-text-secondary);
}

.inline-list.small.pagination {
  max-width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-regular);
}

.pagination {
  width: 100%;
  max-width: 632px;
  margin: var(--space-x-large) var(--space-x-none) var(--space-x-large) var(--space-x-none);
}

.pagination li {
  margin: var(--space-x-none) var(--space-x-none) var(--space-x-none) var(--space-x-none);
}
.pagination li a {
  color: var(--color-text-primary)
}
.pagination li a[aria-current="page"]{
  font-weight: bold;
  text-decoration: none;
}

.pagefind-ui__result {
  background-color: var(--pagefind-ui-background);
}

@media (min-width: 500px) { 

  .navigation {
    padding: var(--space-regular) var(--space-large) var(--space-regular) var(--space-large);
  }
  .navigation-wrapper {
    flex-direction: row;

    .button-primary {
      margin-top: 10px;
      position: relative;
      top: var(--space-none);
      right: var(--space-large);
    }
  }

  #logo {
    font-size: 2rem;
  }
}
